@import url('https://fonts.googleapis.com/css?family=DM+Mono&display=swap');


body {
    font-family: 'DM Mono', monospace;
    margin: 0;
    padding: 2px;
    padding-top: 1rem;  /* This will add more whitespace at the top */
    line-height: 1.6;
}

header {
    padding: 2px 0;
    text-align: left;
}

.logo {
    width: 400px;
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .logo {
        width: 250px;
        margin-left: 10px;
    }
}

nav {
    background: #444;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2px 20px;
    max-width: 600px;
    margin-left: 20px;
}

section {
    margin-bottom: 10px;
}

footer {
    color: #333;
    text-align: left;
    padding: 10px 0;
    margin-left: 20px;
    font-size: 0.8em;
}

#home h2 {
    font-size: 1.5em;
}